.first-info-2{
  width: 98%;
  height: 50px;
  transition: all ease-out 0.1s ;
  margin: 7px 0px;
  margin-left: 5px;
font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(255, 255, 255);
display: flex;
align-items: center;
justify-content: space-between;
text-decoration: none;
}
.first-info-2:hover{
 background-color: rgba(255, 255, 255, 0.349);
  border-radius: 9px;
  backdrop-filter: blur(26px);
}
.first-infocont-2{
  display: flex;
align-items: center;
}
.flo-cmp-132{
 width: 40px;
 height: 40px;
 border-radius: 15px;
 margin-left: 20px;
 margin-right: 10px;
}
.info-2-name{
  margin-left: 10px;
  font-weight: 400;
  font-size: 17px;
}
.info-2-rating{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  margin-left: 10px;
}
.first-infocont-3{
display: flex;
align-items: center;
width: 340px;
background-color: rgba(0, 255, 255, 0);
justify-content: space-between;

}
.info-2-clients{
  min-width: 70px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
}
.info-2-price{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 15px;
  margin-right: 50px;
}
.info2-button-sections{
  display: flex;
}
.info-2-logo{
  width: 22px;
  height: 22px;
  margin: 0px 10px;
  /* transition: all ease-in 0.1s; */
}
.info-2-logox{
  color: #61dd99;
  width: 22px;
  height: 22px;
  margin: 0px 10px;
}
.info-2-logo:hover{
  color: #61dd99;
}
