.container-3{
  display: flex;
  align-items: center; 
  margin-top: 6px;
  margin-left: 56px;
  z-index: 1;
  position: relative;
  overflow: hidden;
}
.lecture3-title{
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 17px;
  color: rgb(255, 255, 255);
 z-index: 1;
}
.image-lecture-3{
  width: 30px;
  height: 30px;
  border-radius: 47%;
  margin-left: 14px;
  z-index: 1;
}
.lecture-summary{
  position: relative;
  max-width: 168px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  color: #9e9fae;
  text-align: center;
  border: 1px solid #2c2d36;
  box-shadow: 0px 0px 2px 1px #2c2d36;
  border-radius: 9px;
  padding: 10px;
  margin-left: 20px;
  margin-bottom: 3px;
  font-style: italic;
  z-index: 10;
  position: relative;
  overflow: hidden;
}
/* .something-cool{
position: absolute;
width: 130px;
height: 130px;
z-index: 0;
top: 120px;
right: 1084px;
color: rgb(0, 0, 0);
} */