.nav-placeholder{
   min-width: 100vh;
 min-height:  60px;
 background-color: #000000;
 position: relative;
 z-index: 1000000;
}
.nav-container{
 position: fixed;
 min-width: 1600px;
 min-height: 60px;
  background-color: #00000000;
  color: white; /* Add text color as needed */
  display: flex;
  align-items: center;
  justify-content: space-between;
transition: all 0.3s ease; /* Add a transition effect for smoother appearance */
  border-bottom: 2px solid transparent; 
  
}
.nav-container.scrolled {
  backdrop-filter: blur(30px);
  background-color: #ffffff00;
  min-height: 55px; /* Maintain the navbar height regardless of the dropdown state */
  z-index: 1000000;
}


.nav-container:hover {
  border-bottom: 2px solid rgb(255, 255, 255); /* Change the color and size as needed */
}

.nav-left-text{
 font-size: 9px;
 position: relative;
 font-family: "Raleway", sans-serif;
 color: rgb(255, 255, 255);
 left: 30px;
}
span{
 color: #8088f3;
}
.nav-right-icon {
  position: relative; /* This ensures the dropdown is positioned in relation to this container */
  margin-right: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.linktm{
  display: inline-block;
}
.nav-icons{
  margin-top: 4px;
  width: 35px;
  height: 26px;
  transition: all ease-in 0.1s;
}
.nav-icons:hover{
  transform: translateY(-3px);
}
.dropdown-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  
  top: 100%;

  right: 0; 
  
  width: 70px; 
  background-color: rgb(255, 255, 255);
  z-index: 10; 
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); 
  border-radius: 4px; 
  overflow: hidden; 
  color: #8088f3;
  text-decoration: none;
}