.yo12{
 z-index: 1;
 width: 100%;
 height: 900px;
 background-color: rgb(0, 0, 0);
 color: red;
 display: flex;
 align-items: center;
}
.left-sing{
 position: relative;
 flex: 2;
 height: 900px;
 width: 54%;
 background-color: rgb(0, 0, 0);
    background-image: url('https://cdn.dribbble.com/users/10859211/screenshots/17581492/media/0bda8ba86f503fba45d80fed8901bdb5.png?resize=768x576&vertical=center'); 
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;  
    border-bottom-right-radius: 9px;
    border-top-right-radius: 9px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-y: hidden;
    overflow-x: hidden;
}
.right-sing{
 
 flex: 1.5;
 height: 900px;
 width: 50%;
  background-image: url('https://cdn.dribbble.com/userupload/9892968/file/original-facd50c849bf9e5e026ee94efc1fdf4a.jpg?resize=1024x476'); 
    background-position: center;
    background-size: cover; 
    background-repeat: no-repeat;  
    /* border-bottom-left-radius: 9px;
    border-top-left-radius: 9px; */

 display: flex;
 justify-content: center;
 align-content: center;

}
.sign-txt{
 margin-bottom: 20px;
 margin-top: 50px;
 font-size: 50px;
 color: white;
 margin-left: 5px;
font-family: "Raleway", sans-serif;
 z-index: 1101;
 
}
.span2{
  background: linear-gradient(90deg, rgba(126,34,195,1) 0%, rgba(34,195,139,1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 1px; 
  -webkit-text-stroke-color: transparent;
}
.start-sign{
 margin-top: 60px;
 display: flex;
 flex-direction: column;
 justify-content: flex-start;
}










.cover-sign{
 z-index: 1100;
 position: absolute;
 height: 900px;
 width: 100%;
background: rgba(0, 0, 0, 0.151);
}

 .ball-sign{
 z-index: 1102;
 position: absolute;
 width: 250px;
 height: 200px;
 top: 400px;
 left: 750px;
}
/* .ball-sign::before{
content: '';
position:;
display: block;
border-radius: 100% 50%;
width: 10%;
height: 100%;
background: linear-gradient(16deg, rgba(180, 58, 141, 0.37) 0%, rgba(180, 58, 141, 0.37) 100%);
z-index: 4000;
transform: translate(10% , -100%);
}  */
 .ball-sign::after{
content: '';
position: absolute;
display: block;
border-radius: 50% 100%;
width: 75%;
height: 100%;
background-color: #000000;
z-index: 4000;
transform: translate(50% , -234%);
} 
.sign-p{
z-index: 1101;
 max-width: 800px;
 font-family: 'Oswald', sans-serif;
 font-size: 27px;
 color: rgb(212, 211, 211);
 text-align: start;
 margin-top: 40px;
}
.form-shit{
    margin-top: 65px;
    border-radius: 5%;
    width: 545px;
    height: 800px;
    background-color: rgb(0, 0, 0);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}
.formular{
  width: 500px;
  margin-left: 176px;
  margin-top: 20px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px; */
}


/* Input from here */
/* .sign-input{
  border-radius: 9px;
  min-width: 320px ;
  min-height: 40px;
  margin: 10px 0;
  background-color: #181818;
  color: white;
  font-size: 20px;
}
input:focus{
  border-color: rgb(255, 0, 0);
} */
.ceva{
  font-family: "Raleway", sans-serif;
   font-weight: bold;
   color: white;
   margin-left: 100px;
   margin-bottom: 40px;
   margin-top: 20px;
}
 .sign-input {
        width: 300px;
        padding: 10px;
         margin-bottom: 20px;
        margin-top: 15px;
        border: none;
        border-radius: 5px;
        background-color: #333333;
        color: #dbdada;
        font-family: "Raleway", sans-serif;
        font-weight: bold;
        font-size: 16px;
        transition: background-color 0.3s ease;
    }

    .sign-input::placeholder {
        color: #000000;
    }

    .sign-input:focus {
        outline: none;
        background-color: #4d4c4c;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    }
    .sign-input:required{
      border: 1px solid;
    }
    /* input:-webkit-autofill {
      border: none;
      -webkit-text-fill-color: rgb(255, 255, 255) ;
      -webkit-box-shadow: 0 0 0px 1000px #4d4c4c inset;
      
    }
    input:-webkit-autofill:focus {
      background-color: #f33e07;
    } */

    .h4-sign {
      font-weight: bold;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        color: #ffffff;
        margin-bottom: 5px;
        margin-left: 2px;
        /* margin-top: 5px; */
        text-align: left;
    }
.logos-sign {
  margin-top: 10px;
  margin-left: px;
  width: 315px;
  height: 50px;
  display: flex;
  /* justify-content: space-between; */
  align-items: center;
  border-width: 2px;
  border-style: solid;
  border-color: white;
  border-radius: 9px;
}

.sign-up-logo {
  padding: 3px;
  width: 30px;
  height: 30px;
}
.logo-text-siogn{
  cursor: pointer;
  font-size: 16px;
  color: white;
  font-family: "Raleway", sans-serif;
}

/* Apply linear gradient to the container */

.submit-butt {
  margin-top: 50px;
  width: 315px;
  margin-left: 2px;
  max-width: 350px;
  height: 50px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  border-radius: 0px;
  border: 0px solid transparent;
 background-color: whitesmoke;
  transition: all 0.1s ease-in;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
  font-size: 21px;
}

.submit-butt:hover {
  /* width: 325px; */
  border-radius: 8px;
  background-color: #000000;
  color: rgb(255, 255, 255);
  border: 1px solid #8087f3;
  
}
.error-message {
  display: none; /* Hidden by default */
}

.error-message-show {
  display: block; /* Visible when there are errors */
}

.error-message-hide {
  display: none; /* Hidden when there are no errors */
}
/* input:-internal-autofill-selected {
    background-color: red !important;
} */